{{- if .Values.mtls.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lattice.fullname" . }}-mtls
  labels:
    {{- include "lattice.labels" . | nindent 4 }}
type: Opaque
stringData:
  ca.crt: |-
{{ required "mtls.caCrt is required when mtls.create=true" .Values.mtls.caCrt | nindent 4 }}
  orchestrator.crt: |-
{{ required "mtls.orchestratorCrt is required when mtls.create=true" .Values.mtls.orchestratorCrt | nindent 4 }}
  orchestrator.key: |-
{{ required "mtls.orchestratorKey is required when mtls.create=true" .Values.mtls.orchestratorKey | nindent 4 }}
  worker.crt: |-
{{ required "mtls.workerCrt is required when mtls.create=true" .Values.mtls.workerCrt | nindent 4 }}
  worker.key: |-
{{ required "mtls.workerKey is required when mtls.create=true" .Values.mtls.workerKey | nindent 4 }}
{{- end }}
